/* NavBar */
.navbar {
    box-shadow: 0 5px 9px 3px rgba(10, 10, 10, 0.1);
}

.navbar-brand img {
    width: 30px;
}

.navbar-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.nav-link:hover {
    color: #808080 !important;
}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/* Botões */
.bg-primary {
    background-color: #000 !important; /* Fundo preto */
    color: #fff !important; /* Texto branco */
    border: none !important; /* Sem borda */
}

.btn {
    background-color: #ffffff !important; /* Fundo preto */
    color: #000000 !important; /* Texto branco */
    border: none !important; /* Sem borda */
}

.btn:hover {
    background-color: #dcdcdc !important; /* Hover cinza */
    color: #ffffff !important; /* Texto branco */
    border: none !important; /* Sem borda */
}


/* Base do Carrinho */
.carrinho {
    padding: 40px 0;
}

.carrinho h2.tittle {
    font-size: 40px;
    font-family: var(--lg-font);
    margin-bottom: 20px;
}

/* Estilo da Tabela do Carrinho */
.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f8f8f8;
    color: #000;
}

.table tbody tr:hover {
    background-color: #f5f5f5;
}

.table input[type="number"] {
    width: 80px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botões de Ação */
.btn-danger {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-danger:hover {
    background-color: #cc0000;
}

/* Botão Continuar Comprando e Finalizar Compra */
.btn.bg-primary {
    background-color: #000000 !important;
    color: #ffffff !important;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn.bg-primary:hover {
    background-color: #808080 !important;
}

.text-end {
    text-align: end;
}

.text-end h4 {
    font-size: 30px;
    font-family: var(--lg-font);
}





/* Começo do Footer */
footer .brand {
    font-family: var(--lg-font);
    letter-spacing: 2px;
}

footer a {
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--red) !important;
}

footer .list-unstyled a {
    color: #b0b0b0;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .list-unstyled a:hover {
    color: var(--red) !important;
}

@media (min-width: 992px) {
    .nav-item {
        border-bottom: none;
    }
}
